body {
  box-sizing: border-box;
  text-align: center;
}

header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
header .header-menu {
  box-sizing: border-box;
  width: 100%;
  background-color: #fff;
  display: flex;
  padding: 10px 20px;
}
@media screen and (max-width: 480px) {
  header .header-menu .header-title {
    font-size: 50px;
  }
}
@media screen and (min-width: 768px) {
  header .header-menu .header-title {
    width: 30%;
    font-size: 50px;
  }
}
@media screen and (min-width: 1024px) {
  header .header-menu .header-title {
    width: 20%;
    font-size: 50px;
  }
}
header .header-menu .hamburger-menu .header-btn {
  position: fixed;
  top: 10px;
  right: 10px;
  display: flex;
  height: 60px;
  width: 60px;
  justify-content: center;
  align-items: center;
  z-index: 90;
}
header .header-menu .hamburger-menu .header-btn span,
header .header-menu .hamburger-menu .header-btn span:before,
header .header-menu .hamburger-menu .header-btn span:after {
  content: "";
  display: block;
  height: 3px;
  width: 25px;
  border-radius: 3px;
  background-color: #000;
  position: absolute;
}
header .header-menu .hamburger-menu .header-btn span:before {
  bottom: 8px;
}
header .header-menu .hamburger-menu .header-btn span:after {
  top: 8px;
}

main {
  text-align: center;
}
main .main-img {
  box-sizing: border-box;
  width: 100%;
}
@media screen and (max-width: 480px) {
  main .main-img {
    height: 100vh;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
@media screen and (min-width: 768px) {
  main .main-img {
    height: 400px;
  }
}
@media screen and (min-width: 1024px) {
  main .main-img {
    height: 600px;
  }
}
main .pickup {
  padding: 80px 0;
}
main .pickup-img {
  width: auto;
  height: 130px;
}
main .title {
  display: block;
}
@media screen and (max-width: 480px) {
  main .title {
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 25px;
  }
}
@media screen and (min-width: 768px) {
  main .title {
    font-weight: bold;
    font-size: 35px;
    margin-bottom: 25px;
  }
}
@media screen and (min-width: 768px) {
  main .feature {
    margin-bottom: 60px;
  }
}
main .feature .feature-contents {
  padding: 10px;
  margin: 10px;
}
@media screen and (min-width: 768px) {
  main .feature .feature-contents {
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 1024px) {
  main .feature .feature-contents {
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
main .feature .grid {
  transition: all 0.3s ease;
  box-shadow: 0 0 8px 4px #ccc;
}
@media screen and (max-width: 480px) {
  main .feature .grid {
    margin: 30px 5px;
  }
}
main .feature .grid .grid-img {
  text-align: center;
  max-width: 100%;
  height: auto;
}
main .feature .grid .grid-contents {
  padding: 20px;
}
main .feature .grid .category {
  text-align: left;
  font-size: 15px;
  margin-bottom: 20px;
}
main .feature .grid .text {
  text-align: left;
  font-weight: bold;
  margin-bottom: 30px;
}
main .feature .grid .date {
  text-align: right;
  font-size: 10px;
}
main .contact {
  background-color: #000;
  color: #fff;
  padding: 80px 10px;
}
main .contact .contact-title {
  display: block;
}
@media screen and (min-width: 768px) {
  main .contact .contact-contents {
    display: flex;
    justify-content: space-between;
  }
}
@media screen and (min-width: 768px) {
  main .contact .contact-text {
    width: 45%;
    text-align: left;
  }
}
main .contact .contact-form {
  text-align: left;
}
@media screen and (max-width: 480px) {
  main .contact .contact-form {
    margin: 30px 0;
  }
}
@media screen and (min-width: 768px) {
  main .contact .contact-form {
    width: 45%;
    margin: 0;
  }
}
main .contact .text {
  box-sizing: border-box;
  width: 100%;
  height: 45px;
  margin: 5px 0 20px;
}
main .contact .textarea {
  box-sizing: border-box;
  width: 100%;
  height: 70px;
  margin: 5px 0 20px;
}
main .contact .btn {
  box-sizing: border-box;
  width: 100%;
  background-color: #000;
  color: #fff;
  text-align: center;
  border: solid 1px #fff;
  padding: 15px 0;
}

footer {
  text-align: center;
}
footer .copy-right {
  background-color: #000;
  color: #fff;
  font-size: 12px;
  padding-bottom: 15px;
}/*# sourceMappingURL=style.css.map */