@import './rayout';
@import './variables';
@import './function';

body {
    box-sizing: border-box;
    text-align: center;
}

header {
    position: sticky;
    top: 0;

    .header-menu {
        @include fullWidth;
        background-color: $mainColor;
        display: flex;
        padding: 10px 20px;

        .header-title {
            //@media screen and (min-width: 480px)
            @include sp {
                font-size: 50px;
            }
            
            // @media screen and (min-width: 768px) {
            @include tab {
                width: 30%;
                font-size: 50px;
            }
            
            //@media screen and (min-width: 1080px) {
            @include pc {
                width: 20%;
                font-size: 50px;
            }
        }

        .menu-btn {
            position: fixed;
            top: 10px;
            right: 10px;
            display: flex;
            height: 60px;
            width: 60px;
            justify-content: center;
            align-items: center;
            z-index: 90;
            background-color: #fff;
        }

        .menu-btn span,
        .menu-btn span:before,
        .menu-btn span:after {
            content: "";
            display: block;
            height: 3px;
            width: 25px;
            border-radius: 3px;
            background-color: #000000;
            position: absolute;
        }

        .menu-btn span:before {
            bottom: 8px;
        }

        .menu-btn span:after {
            top: 8px;
        }
                
        #menu-btn-check:checked ~ .menu-btn span {
            background-color: rgba(255, 255, 255, 0);/*メニューオープン時は真ん中の線を透明にする*/
        }

        #menu-btn-check:checked ~ .menu-btn span::before {
            bottom: 0;
            transform: rotate(45deg);
        }

        #menu-btn-check:checked ~ .menu-btn span::after {
            top: 0;
            transform: rotate(-45deg);
        }

        #menu-btn-check:checked ~ .menu-btn span {
            background-color: rgba(255, 255, 255, 0);/*メニューオープン時は真ん中の線を透明にする*/
        }

        #menu-btn-check:checked ~ .menu-btn span::before {
            bottom: 0;
            transform: rotate(45deg);
        }

        #menu-btn-check:checked ~ .menu-btn span::after {
            top: 0;
            transform: rotate(-45deg);
        }

        #menu-btn-check {
            display: none;
        }

        .menu-content {
            width: 100%;
            height: 100%;
            position: fixed;
            top: 0;
            left: 100%;/*leftの値を変更してメニューを画面外へ*/
            z-index: 80;
            background-color: $mainColor;
            transition: all 0.5s;/*アニメーション設定*/
        }

        .menu-content ul {
            padding: 70px 10px 0;
        }

        .menu-content ul li {
            border-bottom: solid 1px $subColor;
            list-style: none;
        }

        .menu-content ul li a {
            display: block;
            width: 100%;
            font-size: 15px;
            box-sizing: border-box;
            color: $subColor;
            text-decoration: none;
            padding: 9px 15px 10px 0;
            position: relative;
        }

        .menu-content ul li a::before {
            content: "";
            width: 7px;
            height: 7px;
            border-top: solid 2px $subColor;
            border-right: solid 2px $subColor;
            transform: rotate(45deg);
            position: absolute;
            right: 11px;
            top: 16px;
        }

        #menu-btn-check:checked ~ .menu-content {
            left: 0;/*メニューを画面内へ*/
        }
    }
}

main {
    text-align: center;

    .main-img {
        @include fullWidth;

        //@media screen and (min-width: 480px)
        @include sp {
            height: 100vh;
            object-fit: cover;
        }
        
        // @media screen and (min-width: 768px) {
        @include tab {
            height: 100vh;
            object-fit: cover;
        }
        
        //@media screen and (min-width: 1080px) {
        @include pc {
            height: 100vh;
            object-fit: cover;
        }
    }

    .pickup {
        width: 100%;
        margin: 80px 0;

        /* 全体設定 */
        .css-carousel-slider2 {
            width: 100%;
            overflow: hidden;
            position: relative;
        
            img {
                width: 30%;
                height: auto;
                vertical-align: top;
            }
        }

        /* スライド設定 */
        .css-carousel-slider2 .slide-wrap {
            width: 200%;
            position: absolute;
            display: flex;
            top: 0;
            left: 0;
            z-index: 0;
            animation: css-carousel-slider2 10s infinite;
            animation-delay: 2s;
        }

        .css-carousel-slider2 .slide-wrap-main {
            width: 100%;
            z-index: 1;
            animation: css-carousel-slider-main2 10s infinite;
            animation-delay: 2s;
        }

        .css-carousel-slider2 .slide {
            width: 100%;
        }

        /* スライダーアニメーションの設定 */
        @keyframes css-carousel-slider2 {
            0% { transform: translateX(0); }

            40% { transform: translateX(calc(1 / 2 * -100%)); }
            50% { transform: translateX(calc(1 / 2 * -100%)); }

            90% { transform: translateX(calc(2 / 2 * -100%)); }
            100% { transform: translateX(calc(2 / 2 * -100%)); }
        }

        @keyframes css-carousel-slider-main2 {
            0% { transform: translateX(100%); }
            50% { transform: translateX(100%); }
            90% { transform: translateX(0%);}
        }
    }

    .pickup-img {
        width: auto;
        height: 130px;

        //@media screen and (min-width: 480px)
        @include sp {
        }
        
        // @media screen and (min-width: 768px) {
        @include tab {
        }
        
        //@media screen and (min-width: 1080px) {
        @include pc {
        }
    }

    .accordion {
        max-width: 1024px;
        margin: 80px auto;
        
        .menu {
            background-color: rgb(206, 163, 127);
            color: $subColor;
            font-size: 18px;
            padding: 10px;
            text-align: center;
            cursor: pointer;
            user-select: none;
            border: solid 1px $subColor;
        }

        .menu:hover,
        .menu:active,
        .menu.is-active {
            background-color: rgb(232, 83, 8);
        }

        /* .contents {
            display: none;
            border: 1px solid black;
            padding: 10px;
            line-height: normal;
            height: auto;
            opacity: 1;
            text-align: center;
        } */
        
        .contents {
            text-align: center;
            line-height: 0;
            height: 0;
            overflow: hidden;
            opacity: 0;
            transition-duration: 0.4s;
        }
      
        .contents.is-open {
            border: 1px solid black;
            padding: 10px;
            line-height: normal;
            height: auto;
            opacity: 1;
        }
    }   
    
    .title {
        display: block;

        //@media screen and (min-width: 480px)
        @include sp {
            font-weight: bold;
            font-size: 25px;
            margin-bottom: 25px;
        }
        
        // @media screen and (min-width: 768px) {
        @include tab {
            font-weight: bold;
            font-size: 35px;
            margin-bottom: 25px;
        }
        
        //@media screen and (min-width: 1080px) {
        @include pc {
        }
    }
    
    
    .feature {
        @include maxWidth;

        .feature-contents {
            padding: 10px;
            margin: 10px;

            //@media screen and (min-width: 480px)
            @include sp {
                
            }
            
            // @media screen and (min-width: 768px) {
            @include tab {
                @include displayGrid;
                grid-template-columns: 1fr 1fr;
            }
            
            //@media screen and (min-width: 1080px) {
            @include pc {
                @include displayGrid;
                grid-template-columns: 1fr 1fr 1fr;
            }
            
        }
                
        .grid {
            transition: all 0.3s ease;
            box-shadow: 0 0 8px 4px #ccc;

            //@media screen and (min-width: 480px)
            @include sp {
                margin: 30px 5px;
            }
            
            // @media screen and (min-width: 768px) {
            @include tab {
            }
            
            //@media screen and (min-width: 1080px) {
            @include pc {
            }
    
            .grid-img {
                text-align: center;
                max-width: 100%;
                height: auto;
            }

            .grid-contents {
                padding: 20px;
            }
    
            .category {
                text-align: left;
                font-size: 15px;
                margin-bottom: 20px;
            }
            
            .text {
                text-align: left;
                font-weight: bold;
                margin-bottom: 30px;
            }
            
            .date {
                text-align: right;
                font-size: 10px;
            }
        }
    }
        
    .contact {
        background-color: $subColor;
        color: $mainColor;
        padding: 80px 10px;
        
        .contact-title {
            display: block;
        }
        
        .contact-contents {
            //@media screen and (min-width: 480px)
            @include sp {
            }
            
            // @media screen and (min-width: 768px) {
            @include tab {
                display: flex;
                justify-content: space-between;
            }
                
            //@media screen and (min-width: 1080px) {
                @include pc {
                @include maxWidth;
            }
        }

        .contact-text {
            //@media screen and (min-width: 480px)
            @include sp {
            }
            
            // @media screen and (min-width: 768px) {
            @include tab {
                width: 45%;
                text-align: left;
            }
            
            //@media screen and (min-width: 1080px) {
            @include pc {
            }
        }

        .contact-form {
            text-align: left;
            
            //@media screen and (min-width: 480px)
            @include sp {
                margin: 30px 0;
            }
            
            // @media screen and (min-width: 768px) {
            @include tab {
                width: 45%;
                margin: 0;
            }
            
            //@media screen and (min-width: 1080px) {
            @include pc {
            }
        }
        
        .text {
            box-sizing: border-box;
            width: 100%;
            height: 45px;
            margin: 5px 0 20px;
        }
        
        .textarea {
            box-sizing: border-box;
            width: 100%;
            height: 70px;
            margin: 5px 0 20px;
        }

        .btn {
            box-sizing: border-box;
            width: 100%;
            background-color: $subColor;
            color: $mainColor;
            text-align: center;
            border: solid 1px $mainColor;
            padding: 15px 0;
        }
    }
}

footer {
    text-align: center;

    .copy-right {
        background-color: $subColor;
        color: $mainColor;
        font-size: 12px;
        padding-bottom: 15px;
    }
}



// .news-img
// .text
// .date
// .contact
// .title
// .footer-text
// .logo